@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Matrix</h1>
    <p class="text-center"><a href="@Url.Action("SearchingRepositories","Home")" class="btn btn-primary btn-lg">Searching Repositories</a></p>

</div>